<!DOCTYPE html>
<html lang="en">
  <body class="container">
    <div>
      <p>do you have account</p>
      <button onclick="login">Login</button>
    </div>
    <div>
      <p>don`t have account</p>
      <button onclick="windows.href=register">Register</button>
    </div>
  </body>
</html>
