<!DOCTYPE html>
<html lang="en">
  <body class="container">
    <form action="/register" , method="post">
      <label>Name</label>
      <input name="name" ,type="text" />
      <label>Username:</label>
      <input name="username" , type="text" />
      <label>Password:</label>
      <input name="password" />
      <label>Role</label>
      <select name="userType" id="userType">
        <option value="admin">Admin</option>
        <option value="user">user</option>
      </select>
      <button type="submit">Log In</button>
    </form>
  </body>
</html>
